/* =========HEADER======== */
header nav{
    position: relative;
    background-color: white;
    width: 100%;
    height: 60px;
    line-height: 0;
    padding: 0 12px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
    z-index: 100;
    transform-origin: top;
    transform: translateY(0);
    transition: transform 0.4s linear;
}

header nav .logo{
    width: 60px;
    padding: 8px;
    float: left;
}

#menu-icon{
    float: left;
    font-size: 2.8rem;
    line-height: 60px;
    display: none;
}

header nav .menu{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    float: left;
    line-height: 1.71rem;
}

header nav .menu li{
    width: fit-content;
    margin: 0 12px;
    position: relative;
}

header nav .menu li a{
    font-size: 1.6rem;
}

header nav .menu > li > a::after{
    content: "";
    position: absolute;
    top: 1.7rem;
    left: 45%;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 4px;
    transform: translateY(12px);
    opacity: 0;
    transition: 0.3s ease-in;
    transition-property: transform, opacity;
    z-index: 1;
}

header nav .menu > li > a:hover::after{
    transform: translateY(2px);
    opacity: 1;
}

header nav .menu li a:hover{
    color: var(--primary-color);
}

header nav .menu #menu:hover .child-1{transform: scaleY(1);}

header nav .menu #menu:hover a::after,
header nav .menu #menu:hover > a{
    color: var(--primary-color);
    transform: translateY(2px);
    opacity: 1;
} 

header nav .menu #menu::after{
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    top: 14px;
    left: 0;
}

/* Sub menu */

header nav .menu #menu .child-1{
    position: absolute;
    top: 38px;
    left:0;
    border-radius: 4px;
    width: 200px;
    background-color: white;
    z-index: 100;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
}

header nav .menu #menu .child-1 ul li{
    width: 100%;
    margin: 0;
}

header nav .menu #menu .child-1 ul li a{
    display: block;
    padding: 10px 14px;
}

header nav .menu #menu .child-1 ul li:hover{background-color: var(--item-2);}
header nav .menu #menu .child-1 ul li:last-child:hover{border-radius: 0 0 0 4px;}
header nav .menu #menu .child-1 ul li:last-child .child-2{
    position: absolute;
    border-radius: 4px;
    width: 200px;
    background-color: white;
    z-index: 100;
    left: 100%;
    top: 0px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
}

header nav .menu #menu .child-1 ul li:last-child:hover .child-2{transform: scaleX(1);pointer-events: all;}

/* Right group icons */

header nav .group-icons{
    float: right;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.71rem
}

#account-icon, #search-icon , .cart-icon{
    font-size: 2.8rem;
    padding: 0 12px;
    color: var(--inactive);
    background: none;
}

#search-icon:hover{cursor: pointer; color: var(--primary-color);}

header nav .group-icons a:hover{
    color: var(--primary-color);
}

.acc-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Search area */

#search-input{
    width: 400px;
    padding: 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 12px;
    transform-origin: right;
    transform: scaleX(0);
    background-color: var(--background);
    border: none;
    transition: all 0.3s;
}

#search-input:focus{
    outline: var(--primary-color);
    border: 2px solid var(--primary-color);
}

#find-btn{
    padding: 8px 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 12px;
    margin-left: 12px;
    cursor: pointer;
    display: none;
}

/* Cart */

#cart{
    position: relative;
    cursor: pointer;
}

#cart::after{
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 0;
}

#cart:hover .cart-box{
    display: block;
    transform: scaleY(1);
}

#cart .cart-icon{display: block;}

#cart .cart-icon .item-count{
    padding: 0 2px;
    color: white;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: -4px;
    right: 6px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.4rem;
    font-weight: 700;
}

header nav .group-icons .cart-box{
    position: absolute;
    right: 0;
    top: 46px;
    width: fit-content;
    height: fit-content;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 4px;
    will-change: transform;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in;
    animation: display 0.4s ease;
    z-index: 100;
}

header nav .group-icons .cart-box::before{
    content: "";
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -25px;
    z-index: 101;
}

header nav .group-icons .cart-box .empty-cart{width: 300px;display: none;}

header nav .group-icons .cart-box .non-empty{
    width: 360px;
    padding: 12px 12px 24px;
    background-color: white;
}

header nav .group-icons .cart-box .non-empty header{
    font-size: 1.8rem;
}

header nav .group-icons .cart-box .non-empty .wrapper{
    width: 100%;
    margin: 12px 0;
    cursor: default;
    border-top: 1px solid #ccc;
}

header nav .group-icons .cart-box .non-empty .wrapper .item{
    display: flex;
    width: 100%;
    padding: 4px 0;
    align-items: center;
}

header nav .group-icons .cart-box .non-empty .wrapper .item .thumb{
    width: 50px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid var(--inactive);
    overflow: hidden;
}

header nav .group-icons .cart-box .non-empty .wrapper .item .detail{
    padding: 0 12px;
}

header nav .group-icons .cart-box .non-empty .wrapper .item .detail h6,
header nav .group-icons .cart-box .non-empty .wrapper .item .detail .quantity{
    font-size: 1.6rem;
}

header nav .group-icons .cart-box .non-empty .wrapper .item .name{
    font-weight: 700;
    font-size: 1.8rem;
    margin: 8px 0;
}

header nav .group-icons .cart-box .non-empty .wrapper .item .price{
    color: var(--primary-color);
    font-size: 1.6rem;
}

header nav .group-icons .cart-box .non-empty .view-cart{
    text-align: right;
}

.menu .logo-menu{display: none;}
.menu .close-btn{display: none;}

/* Responsive for header */
/* Small Desktop */
@media (max-width: 1152px){
    #search-input{width: 200px}
}

/* Tablet */
@media (max-width: 968px){
    header nav .logo{
        position: absolute;
        float: none;
        left: 40%;
        top: 0;}
    header nav .menu{
        position: fixed;
        display: block;
        width: 100%;
        background: var(--background);
        max-width: 400px;
        height: 100vh;
        top: 0;
        left: -100%;
        overflow: hidden;
        margin: 0;
        padding: 40px 20px 40px 30px;
        visibility: hidden;
        transition: 0.5s;
        transition-property: left, visibility;
        z-index: 100;
    }
    header nav .menu.active{
        left: 0;
        visibility: visible
    }
    header nav .menu >li{position: relative; width: 100%;}
    header nav .menu >li > a{
        display: block;
        padding: 16px;
    }
    header nav .menu #menu .child-1{
        opacity: 1;
        position: relative;
        top: 0;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        display: block;
        width: 90%;
        margin-left: 10%;
        transform: none;
    }

    header nav .menu #menu .child-1 li:first-child a{color: var(--text-color);}

    header nav .menu #menu .child-1 ul li:last-child .child-2{
        opacity: 1;
        position: relative;
        display: block;
        width: 100%;
        left: 0;
        transform: none;
        background: rgba(255, 255, 255, 0.1);
    }

    header nav .menu #menu .child-1 ul li:last-child .child-2 li{
        width: 46%;
        float: left;
        text-align: center;
        background-color: var(--item-2);
        border-radius: 4px;
        margin: 4px;
    }

    header nav .menu #menu .child-1 ul li:last-child .child-2 li a{
        padding: 10px 0;
    }
    
    .menu .close-btn{
        position: absolute;
        font-size: 3rem;
        color: var(--text-color);
        top: 20px;
        right: 10px;
        display: inline-block;
    }
    .menu .logo-menu{display: block;width: 72px;margin: 0 auto;}
    
    #menu-icon{
        position: absolute;
        top: 0;
        left: 10px;
        cursor: pointer;
        display: block;
    }
    header nav .group-icons .cart-box{display: none;}
}

/* Smart phone */
@media (max-width: 428px){
    header nav .logo{display: none;}
    #search-icon{display: none;}
    #search-input{
        width: 200px;
        transform: scaleX(1);
    }
    #find-btn{display: none;}
    header nav .group-icons a{padding: 0 4px;}
    #cart-icon:hover .cart-box{display: none;
        transform: scaleY(0);}
    header nav .menu{
        width: 100%;
        max-width: 360px;
    }
}
/* 
    ==============
    FOOTER
    ==============
*/
footer{
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}

footer .wrapper{
    width: 100%;
    padding: 44px 40px;
    text-align: left;
}

footer .wrapper .big-logo{
    width: 20%;
    text-align: center;
    float: left;
}

footer .wrapper .big-logo .logo{
    width: 50%;
    display: block;
    margin: 0 auto;
}

footer .wrapper .big-logo a{
    font-family: 'Nunito', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    display: block;
    margin-top: 20px;
    line-height: 2.8rem;
    color: white;
}

footer .wrapper .links{
    width: 76%;
    margin-left: 4%;
    float: left;
}

footer .wrapper .links .aboutus h3,
footer .wrapper .links .contact h3,
footer .wrapper .links .follow h3{
    color: white;
    font-size: 2rem;
    margin: 12px 0;
    cursor:text;
    line-height: 2rem;
}

footer .wrapper .links .aboutus{
    width: 25%;
    display: flex;
    flex-direction: column;
    float: left;
}

footer .wrapper .links .aboutus .item{
    font-size: 1.4rem;
    margin-bottom: 14px;
}

footer .wrapper .links .contact{
    width: 50%;
    float: left;
    margin-right: 5%;
}

footer .wrapper .links .contact ul li{
    margin-bottom: 14px;
    width: fit-content;
}

footer .wrapper .links .contact ul li .icon{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 2rem;
    margin-right: 4px;
    float: left;
    font-size: 1.6rem;
}

footer .wrapper .links .contact ul li a{
    font-size: 1.4rem;
}

footer .wrapper .links .follow{
    width: 20%;
    float: right;
    text-align: center;
}

footer .wrapper .links .follow .media{display: flex;justify-content: center;}

footer .wrapper .links .follow .media a{
    font-size: 2.8rem;
    display: block;
    margin: 0 4px;
}

footer a{
    color: white;
    transform-origin: center;
    transform:scale(1);
    transition: 0.3s;
}

footer a:hover{
    transform:scale(1.1);
    color: var(--item-2);
}

footer hr{
    margin: 36px 0;
}

footer .copyright{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    color: white;
}

/* Responsive for Footer*/
@media (max-width: 428px){
    footer, footer .wrapper{height: fit-content;}
    footer .wrapper .big-logo{margin-top: 20px;}
    footer .wrapper .big-logo, footer .wrapper .links,
    footer .wrapper .links .aboutus,
    footer .wrapper .links .contact,
    footer .wrapper .links .follow{
        float: none;
        width: 100%;}
    footer .wrapper .links .aboutus h3,
    footer .wrapper .links .contact h3{text-align: center;
    margin: 20px 0;}
    footer .wrapper .clear{display: none;}
}