#menu-id{
    color: var(--primary-color);
}

#container{
    width: 100%;
    background-color: var(--background);
    font-size: 3rem;
}
section{
    width: 100%;
    position: relative;
}

@media (min-width: 429px) and (max-width: 768px){
    .title{
        font-size: 4.5rem;
    }
}

@media (max-width: 428px){
    .title{
        font-size: 3rem;
    }
}

/* Banner */
#banners{
    height: 60vh;
    margin: auto;
    overflow: hidden;
}
  
#banners .slide-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
#banners .slide-wrapper .slider-item{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    transform-origin:center;
    display: none;
}
  
#banners .slide-wrapper .slider-item:first-child{background-image: url(../images/banners/hero_menu.jpg); display: block;}
  
  
#banners .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px var(--black-4);
    text-align: center;
}
#banners .banner-text .main-title{
    color: var(--background);
    animation-name: moveInleft;
    animation-duration: 3s;
}
  
#banners .banner-text .description{
    text-align: center;
    color: white;
    font-size: 3rem;
    line-height: 2.6rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 3s;
    margin-top: 2%;
}
  
  @media (max-width: 428px){
    #banners{height: 40vh;}
    #banners .banner-text .main-title{font-size: 48px; line-height: 40px;}
    #banners .banner-text .description{font-size: 1.4rem; line-height: 2rem;}
  }
  
  @media (min-width: 429px) and (max-width: 768px){
    #banners{height: 50vh;}
  }


/* best seller */
#bestseller {
    margin-top: 6%;
}

.wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

header nav .group-icons .cart-box .non-empty .wrapper{
    padding: 0 !important;
}

.wrapper .title{
    float: left;
    margin-bottom: 40px;
}

.wrapper #view-all{
    float: right;
    text-align: right;
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}

.wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.wrapper .container .item:hover{
    transform: translateY(-3px);
}

#bestseller .wrapper .container .item:first-child .product-item{background-color: var(--item-1);} 
#bestseller .wrapper .container .item:last-child .product-item{background-color: var(--item-2);}

#bestseller .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-3);}

#bestseller .floating-buble{
    position: absolute;
    top: 200px;
    margin-left: -60px;
}

#bestseller .floating-buble img{transform: rotate(10deg);}


@media (min-width: 429px) and (max-width: 768px){
    .wrapper .container .item{width: 45%;}
    .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    .wrapper .container{display: block;position: relative;margin-top: 16px;}
    .wrapper .container .item{
        width: 100%;
        position: relative;}
}


/* new flavour */
#new{
    margin-top: 8%;
    height: fit-content;
    overflow: hidden;
}
#new .title{
    position: relative;
    width: 84%;
    padding-top: 10px;
    margin: 0 auto;
}

#new .content{
    width: 84%;
    height: fit-content;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    
}
#new .content .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}
#new .content .description{
    margin-bottom: 40px;
    padding-right: 40px;
    line-height: 40px;
}

#new .content .flavour-content{
    position: relative;
    right: -24%;
    top: 0;
}
#new .content .flavour-content .flavour-image{
    
    margin: 0;
}
#new .content .flavour-content .new-flavour{
    position: absolute;
    top: 4%;
    right: 10%;
    text-align: right;
    line-height: 40px;
}
#new .content .flavour-content .new-flavour span{
    background-color: var(--primary-color);
    padding: 6px;
    color: white;
}

#new .content .flavour-content .new-flavour p:nth-child(2){
    
    width: 60%;
    margin: 20px 0 10px auto;
}

#new .content .flavour-content .new-flavour p:last-child{
    color: var(--primary-color);
}

@media (min-width: 429px) and (max-width: 768px){
    #new .content .name{
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
    #new .content  .text p{
        padding-right: 20px;
        line-height: 2.8rem;
        font-size: 1.7rem;
    }
    #new .content .flavour-content p{
        padding: 2px;
        line-height: 1.7rem;
        font-size: 1.7rem;
    }
}

@media (max-width: 428px){
    
    #new .content .name{
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }
    #new .content  .text p{
        padding-right: 0px;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #new .content input{
        font-size: 0.8rem;
    }
    #new .content .flavour-content p{
        padding: 1px;
        line-height: 1rem;
        font-size: 1rem;
    }
    #new .content .flavour-content .new-flavour p:last-child{
        color: var(--background);
    }
}

/* sale */
#sale{
    margin-top: 8%;
    overflow: hidden;
}

#sale .wrapper .container .tag{
    font-size: 1.2rem;
}

#sale .wrapper .container .item:first-child .product-item{background-color: var(--item-4);} 
#sale .wrapper .container .item:last-child .product-item{background-color: var(--item-1);}

#sale .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-2);}

#sale .floating-buble{
    position: absolute;
    top: 0px;
    right: -80px;
    margin-right: -100px;
}

#sale .floating-buble img{transform: rotate(120deg);}

/* offer */
#offer{
    margin-top: 12%;
    height: fit-content;
}

#offer .content{
    position: relative;
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}
#offer .content .flavour-content{
    position: relative;
    left: -26%;
}
#new .content .flavour-content .flavour-image{
    width: 100%;
    margin: 0;
}
#offer .content .flavour-content .offer-flavour{
    position: absolute;
    top: 4%;
    left: 10%;
    text-align: left;
    line-height: 40px;
}
#offer .content .flavour-content .offer-flavour span{
    background-color: var(--primary-color);
    padding: 6px;
    color: white;
}

#offer .content .flavour-content .offer-flavour p:nth-child(2){
    
    width: 60%;
    margin: 20px auto 10px 0;
}

#offer .content .flavour-content .offer-flavour p:last-child{
    color: var(--primary-color);  
}
#offer .content .text{
    vertical-align: top;
    padding-left: 3%;
}

#offer .content .text .title{
    margin-bottom: 15%;
    margin-left: 0px;
    margin-top: -15%;
}

#offer .content .text .name{
    font-size: 4.2rem;
    margin-bottom: 10%;
}

#offer .content .text img{
    width: 85px;
    float: left;
    margin-right: 5%;
}
#offer .content .text .description{
    margin-bottom: 10%;
    line-height: 40px;
}

#offer .content .text input{
    margin-bottom: 10%;
}

@media (min-width: 429px) and (max-width: 768px){
    #offer .content .text .name{
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
    #offer .content  .flavour-content p{
        line-height: 2rem;
        font-size: 1.7rem;
    }
    #offer .content .text .description{
        line-height: 2.2rem;
        font-size: 1.7rem;
        margin-right: -5%;
    }
    #offer .content .text img{
        width: 60px;
    }
}

@media (max-width: 428px){
    
    #offer .content .text .name{
        font-size: 2rem;
        line-height: 2rem;
    }
    #offer .content  .flavour-content p{
        line-height: 1.2rem;
        font-size: 1rem;
    }
    #offer .content .text .description{
        line-height: 1.2rem;
        font-size: 1rem;
        margin-right: -5%;
    }
    #offer .content .text img{
        width: 40px;
    }
    #offer .content .text input{
        font-size: 0.8rem;
    }
}

/* Macaron */
#macaron{
    margin-top: 8%;
}

#macaron .wrapper .container .item:first-child .product-item{background-color: var(--item-2);} 
#macaron .wrapper .container .item:last-child .product-item{background-color: var(--item-4);}

#macaron .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-3);}

<<<<<<< HEAD
@media (min-width: 429px) and (max-width: 768px){
    #macaron .wrapper .container .item{width: 45%;}
    #macaron .wrapper .container{margin: 40px 0;}
    #macaron .wrapper .title{margin-left: 0;}
}
    
@media (max-width: 428px){
    #macaron .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #macaron .wrapper .container .item{
        width: 100%;
        position: relative;
    }
    #macaron .wrapper .title{margin-left: 0;}
}

=======
>>>>>>> f2cfa67a3c4e117d96195a5eaec8d22bf4d5b12b
/* cheese cake */
#cheesecake{
    margin-top: 8%;
}

#cheesecake .wrapper .container .item:first-child .product-item{background-color: var(--item-4);} 
#cheesecake .wrapper .container .item:last-child .product-item{background-color: var(--item-1);}

#cheesecake .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-2);}

#cheesecake .floating-buble{
    position: absolute;
    top: -150px;
    margin-left: -60px;
}

#cheesecake .floating-buble img{transform: rotate(10deg);}

/* pudding */
#pudding{
    margin-top: 8%;
}

#pudding .wrapper .container .item:first-child .product-item{background-color: var(--item-1);} 
#pudding .wrapper .container .item:last-child .product-item{background-color: var(--item-2);}

#pudding .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-4);}

/* tiramisu */
#tiramisu{
    margin-top: 8%;
    padding-bottom: 100px;
}

#tiramisu .wrapper .container .item:first-child .product-item{background-color: var(--item-3);} 
#tiramisu .wrapper .container .item:last-child .product-item{background-color: var(--item-4);}

#tiramisu .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-1);}

#tiramisu .floating-buble{
    position: absolute;
    top: -200px;
    margin-left: -80px;
}

#tiramisu .floating-buble img{transform: rotate(120deg);}





