#menu-id{
    color: var(--primary-color);
}

#container{
    width: 100%;
    background-color: var(--background);
    font-size: 3rem;
}
section{
    width: 100%;
    position: relative;
}

/* Banner */
#banners{
    height: 60vh;
    margin: auto;
    overflow: hidden;
}
  
#banners .slide-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
#banners .slide-wrapper .slider-item{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    transform-origin:center;
    display: none;
}
  
#banners .slide-wrapper .slider-item:first-child{background-image: url(../images/banners/hero_menu.jpg); display: block;}
  
  
#banners .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px var(--black-4);
    text-align: center;
}
#banners .banner-text .main-title{
    color: var(--background);
    animation-name: moveInleft;
    animation-duration: 3s;
}
  
#banners .banner-text .description{
    text-align: center;
    color: white;
    font-size: 3rem;
    line-height: 2.6rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 3s;
}
  
  @media (max-width: 428px){
    #banners{height: 40vh;}
    #banners .banner-text .main-title{font-size: 48px; line-height: 40px;}
    #banners .banner-text .description{font-size: 1.4rem; line-height: 2rem;}
  }
  
  @media (min-width: 429px) and (max-width: 768px){
    #banners{height: 50vh;}
  }

/* Filter */
#filter{
    display: block;
    background-color: white;
    border: 1.5px solid var(--primary-color);
    border-radius: 4px;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 10px;
    margin: 50px 30px 120px auto;
}

/* best seller */
#bestseller {
    margin-top: 120px;
}
#bestseller .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#bestseller .wrapper .title{
    float: left;
    margin-bottom: 40px;
}

#bestseller .wrapper #view-all{
    float: right;
    text-align: right;

}
#bestseller .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#bestseller .wrapper #view-all a:hover{
    text-decoration: underline;
}

#bestseller .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#bestseller .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#bestseller .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#bestseller .wrapper .container .item:first-child .product-item{background-color: var(--item-1);} 
#bestseller .wrapper .container .item:last-child .product-item{background-color: var(--item-2);}

#bestseller .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-3);}

@media (min-width: 429px) and (max-width: 768px){
    #bestseller .wrapper .container .item{width: 45%;}
    #bestseller .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #bestseller .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #bestseller .wrapper .container .item{
        width: 100%;
        position: relative;}
}


/* new flavour */
#new{
    margin-top: 120px;
    height: fit-content;
}
#new .title{
    position: relative;
    width: 84%;
    padding: 20px 0;
    margin: 0 auto;
    
}
#new .floating-buble{
    position: absolute;
    top: -400px;
    left: -100px;
}
#new .floating-buble img{transform: rotate(30deg);}

#new .content{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
    
}
#new .content .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}
#new .content .description{
    margin-bottom: 40px;
    padding-right: 40px;
    line-height: 40px;
}

#new .content .flavour-content{
    position: relative;
    right: -24%;
    top: 0;
}
#new .content .flavour-content .flavour-image{
    
    margin: 0;
}
#new .content .flavour-content .new-flavour{
    position: absolute;
    top: 4%;
    right: 10%;
    text-align: right;
    line-height: 40px;
}
#new .content .flavour-content .new-flavour span{
    background-color: var(--primary-color);
    padding: 6px;
    color: white;
}

#new .content .flavour-content .new-flavour p:nth-child(2){
    
    width: 60%;
    margin: 20px 0 10px auto;
}

#new .content .flavour-content .new-flavour p:last-child{
    color: var(--primary-color);
    
}


/* best seller */
#sale{
    margin-top: 120px;
}
#sale .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#sale .wrapper .title{
    float: left;
    margin-bottom: 40px;
    
}

#sale .wrapper #view-all{
    float: right;
    text-align: right;

}
#sale .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#sale .wrapper #view-all a:hover{
    text-decoration: underline;
}

#sale .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#sale .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#sale .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#sale .wrapper .container .item:first-child .product-item{background-color: var(--item-4);} 
#sale .wrapper .container .item:last-child .product-item{background-color: var(--item-1);}

#sale .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-2);}

@media (min-width: 429px) and (max-width: 768px){
    #sale .wrapper .container .item{width: 45%;}
    #sale .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #sale .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #sale .wrapper .container .item{
        width: 100%;
        position: relative;}
}

/* offer */
#offer{
    margin-top: 160px;
    height: fit-content;
}
/*
#offer .floating-buble{
    position: absolute;
    top: -180px;
    right: -80px;
    overflow: hidden;
}

#offer .floating-buble img{
    transform: rotate(-20deg);
}
*/

#offer .content{
    position: relative;
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}
#offer .content .flavour-content{
    position: relative;
    left: -26%;
}
#new .content .flavour-content .flavour-image{
    width: 100%;
    margin: 0;
}
#offer .content .flavour-content .offer-flavour{
    position: absolute;
    top: 4%;
    left: 10%;
    text-align: left;
    line-height: 40px;
}
#offer .content .flavour-content .offer-flavour span{
    background-color: var(--primary-color);
    padding: 6px;
    color: white;
}

#offer .content .flavour-content .offer-flavour p:nth-child(2){
    
    width: 60%;
    margin: 20px auto 10px 0;
}

#offer .content .flavour-content .offer-flavour p:last-child{
    color: var(--primary-color);
    
}
#offer .content .text{
    vertical-align: top;
    padding-left: 5%;
}

#offer .content .text .title{
    margin-bottom: 80px;
    margin-left: 0px;
    margin-top: -80px;
}

#offer .content .text .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}

#offer .content .text img{
    width: 85px;
    float: left;
    margin-right: 40px;
}
#offer .content .text .description{
    margin-bottom: 40px;
    line-height: 40px;
}

#offer .content .text input{
    margin-bottom: 40px;
}

/* Macaron */
#macaron{
    margin-top: 120px;
}
#macaron .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#macaron .wrapper .title{
    float: left;
    margin-bottom: 40px;
    margin-left: 40%;
}

#macaron .wrapper #view-all{
    float: right;
    text-align: right;

}
#macaron .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#macaron .wrapper #view-all a:hover{
    text-decoration: underline;
}

#macaron .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#macaron .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#macaron .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#macaron .wrapper .container .item:first-child .product-item{background-color: var(--item-2);} 
#macaron .wrapper .container .item:last-child .product-item{background-color: var(--item-4);}

#macaron .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-3);}

@media (min-width: 429px) and (max-width: 768px){
    #macaron .wrapper .container .item{width: 45%;}
    #macaron .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #macaron .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #macaron .wrapper .container .item{
        width: 100%;
        position: relative;}
}

/* cheese cake */
#cheesecake{
    margin-top: 120px;
}
#cheesecake .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#cheesecake .wrapper .title{
    float: left;
    margin-bottom: 40px;
    margin-left: 36%;
}

#cheesecake .wrapper #view-all{
    float: right;
    text-align: right;

}
#cheesecake .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#cheesecake .wrapper #view-all a:hover{
    text-decoration: underline;
}

#cheesecake .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#cheesecake .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#cheesecake .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#cheesecake .wrapper .container .item:first-child .product-item{background-color: var(--item-4);} 
#cheesecake .wrapper .container .item:last-child .product-item{background-color: var(--item-1);}

#cheesecake .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-2);}

@media (min-width: 429px) and (max-width: 768px){
    #cheesecake .wrapper .container .item{width: 45%;}
    #cheesecake .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #cheesecake .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #cheesecake .wrapper .container .item{
        width: 100%;
        position: relative;}
}

/* pudding */
#pudding{
    margin-top: 120px;
}
#pudding .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#pudding .wrapper .title{
    float: left;
    margin-bottom: 40px;
    margin-left: 42%;
}

#pudding .wrapper #view-all{
    float: right;
    text-align: right;

}
#pudding .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#pudding .wrapper #view-all a:hover{
    text-decoration: underline;
}

#pudding .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#pudding .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#pudding .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#pudding .wrapper .container .item:first-child .product-item{background-color: var(--item-1);} 
#pudding .wrapper .container .item:last-child .product-item{background-color: var(--item-2);}

#pudding .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-4);}

@media (min-width: 429px) and (max-width: 768px){
    #pudding .wrapper .container .item{width: 45%;}
    #pudding .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #pudding .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #pudding .wrapper .container .item{
        width: 100%;
        position: relative;}
}

/* tiramisu */
#tiramisu{
    margin-top: 120px;
    padding-bottom: 100px;
}
#tiramisu .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
}

#tiramisu .wrapper .title{
    float: left;
    margin-bottom: 40px;
    margin-left: 40%;
}

#tiramisu .wrapper #view-all{
    float: right;
    text-align: right;

}
#tiramisu .wrapper #view-all a{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
    font-style: italic;
}
#tiramisu .wrapper #view-all a:hover{
    text-decoration: underline;
}

#tiramisu .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#tiramisu .wrapper .container .item{
    width: 30%;
    margin: 20px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#tiramisu .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#tiramisu .wrapper .container .item:first-child .product-item{background-color: var(--item-3);} 
#tiramisu .wrapper .container .item:last-child .product-item{background-color: var(--item-4);}

#tiramisu .wrapper .container .item:nth-child(2) .product-item{background-color: var(--item-1);}

@media (min-width: 429px) and (max-width: 768px){
    #tiramisu .wrapper .container .item{width: 45%;}
    #tiramisu .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #tiramisu .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #tiramisu .wrapper .container .item{
        width: 100%;
        position: relative;}
}



