body{
    background-color: var(--background);
}

section{
    width: 100%;
    position: relative;

}

.overlay{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(129, 96, 71, 0.281);
}

/* Banner */
#banners{
    height: 60vh;
    margin: auto;
    overflow: hidden;
    
  }
  
  #banners .slide-wrapper{
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #banners .slide-wrapper .slider-item{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    transform-origin:center;
    animation: zoomIn 5s ease-in;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    display: none;
  }
  
  #banners .slide-wrapper .slider-item:first-child{background-image: url(https://i.ibb.co/wd0Ykfw/hero-about-us.jpg); display: block;}
  
  
  #banners .banner-text{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px var(--black-4);
  }
  
  #banners .banner-text .main-title{
    color: white;
  }
  
  #banners .banner-text .description{
    text-align: center;
    color: white;
    font-size: 2.6rem;
    line-height: 2.6rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  @media (max-width: 428px){
    #banners{height: 40vh;}
    #banners .banner-text .main-title{font-size: 36px; line-height: 24px;}
    #banners .banner-text .description{font-size: 1.4rem; line-height: 2rem;}
  }
  
  @media (min-width: 429px) and (max-width: 768px){
    #banners{height: 50vh;}
  }
/* ========END BANNER SESSION========= */
/* ========START HIGHTLIGHT=========== */

#hightlight{height: 680px;}

#hightlight .summary{
    width: 80%;
    height: 88px;
    position: absolute;
    top: -44px;
    left: 10%;
    background-color: var(--item-2);
    border-radius: 10px;
    border-color: var(--primary-color);
    border-width: 1.5px;
    border-style: dashed;
    border-spacing: 1px;
}

#hightlight .summary .wrapper{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#hightlight .summary .wrapper .item{width: 23%;}
#hightlight .summary .wrapper .item .iconify{
    height: 100%;
    float: left;
    font-size: 2.8rem;
    margin-right: 8px;
    color: var(--primary-color);
}

#hightlight .summary .wrapper .item .description{font-size: 1.4rem;}

/* Hightlight box */
#hightlight .hl-box{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 80px;
}

#hightlight .hl-box .wrapper{
    width: 88%;
    margin: 40px auto;
    position: relative;
    z-index: 1;
}

#hightlight .hl-box .wrapper .content-box{width: 60%; float: left;}

#hightlight .hl-box .wrapper .content-box .logo{
    width: 50%;
}
#hightlight .hl-box .wrapper .content-box .logo .image{width: 25%;opacity: 0.5;}
#hightlight .hl-box .wrapper .content-box .logo hr{
    width:75%;opacity: 0.5;
    border: 1px solid var(--primary-color);
    margin-left: 12.5%; margin-top: -6px;
}

#hightlight .hl-box .wrapper .content-box .content{
    padding: 32px 40px 32px 0;
    margin: 40px 0;
}

#hightlight .hl-box .wrapper .content-box .content h3{
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 18px;
    color: var(--primary-color);
}

#hightlight .hl-box .wrapper .content-box .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#hightlight .hl-box .wrapper .content-box .content .more{font-size: 1.6rem;}

#hightlight .hl-box .wrapper .content-box .content .more .iconify{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 1.4rem;
}

#hightlight .hl-box .wrapper .image-box{
    width: 40%;
    float: right;
    padding-left: 80px;
}

#hightlight .hl-box .wrapper .image-box img{border-radius: 10px;}


@media (min-width: 769px) and (max-width: 1200px){#hightlight{height: 640px;}}
@media (max-width: 428px){
    #hightlight{height: 900px;}
    #hightlight .summary{height: 120px;
        width: 90%;
        left: 5%;
        top: -55px;}
    #hightlight .summary .wrapper{padding: 4px;}
    #hightlight .summary .wrapper .item{width: 50%;}
    #hightlight .floating-buble{width: 300px;}
    #hightlight .hl-box .wrapper .content-box{width: 100%;}
    #hightlight .hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
    #hightlight .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
    #hightlight .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #hightlight{height: 680px;}
    #hightlight .hl-box .wrapper .content-box .content{margin: 0;}
    #hightlight .hl-box .wrapper .image-box{padding: 0;}
}

/* ========END HIGHTLIGHT=========== */

/* ========START STORY=========== */


#story {height: fit-content; }
#story .h1-box{  
    width: 100%;
    position: absolute;
}
#story .hl-box .wrapper{
    width: 88%;
    margin: 10% auto;
    position: relative;
    z-index: 1;
}


#story .hl-box .wrapper h2{
    padding-bottom: 50px;
    color: var(--primary-color);

}
/* #story .h1-box .wrapper hr{
    width:15%;
    border: 5px solid var(--primary-color);
    float: left; margin-right: 2vh; margin-top: 1vh;
} */


#story .hl-box .wrapper .content-box{width: 60%; float: right; padding-left: 80px;}
#story .hl-box .wrapper .content-box .content h3{
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 18px;
    color: rgb(51, 51, 51);
}

#story .hl-box .wrapper .content-box .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}


#story .hl-box .wrapper .image-box{
    width: 40%;
 
}

#story .hl-box .wrapper .image-box img{border-radius: 10px; float: left;}
#story .floating-buble{
    position: absolute;
    top: 400px;
    left: -80px;
    margin-left: -50px;
}

#story .floating-buble img{transform: rotate(0deg);}

@media (min-width: 769px) and (max-width: 1200px){#story{height: 640px;}}
@media (max-width: 428px){
    #story{height: 900px;}

        #story .floating-buble{width: 300px;}
        #story .hl-box .wrapper .content-box{width: 100%;}
        #story .hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
        #story .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
        #story .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #story{height: 680px;}
    #story .hl-box .wrapper .content-box .content{margin: 0;}
    #story .hl-box .wrapper .image-box{padding: 0;}
} 

/* ========material========== */


#material {height: fit-content; }
#material .h1-box{  
    width: 100%;
    position: absolute;
}

#material .hl-box .wrapper{
    width: 88%;
    margin: 10% auto;
    position: relative;
    z-index: 1;
}

#material .hl-box .wrapper h2{
    padding-bottom: 50px;
    color: var(--primary-color);
    float: right;

}

#material .hl-box .wrapper .content-box{width: 60%; float: left; padding-right: 80px;}
#material .hl-box .wrapper .content-box .content h3{
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 18px;
    color: rgb(51, 51, 51);
}

#material .hl-box .wrapper .content-box .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: justify;
}
/* icon */


#material .hl-box .wrapper .content-box .icon .item{
width: 16%; 
float: left;
margin-top: 5vh;
}

#material .hl-box .wrapper .icon hr{
    width:60%;
    border: 0.5px solid var(--primary-color);
    margin-left: 3.5vh; margin-top: 60px;
}


#material .hl-box .wrapper .content-box .icon .item .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
}

/* icon */
#material .hl-box .wrapper .image-box{
    width: 40%;
    float: right;
}

#material .hl-box .wrapper .image-box img{border-radius: 10px;}
#material .floating-buble{
    position: absolute;
    top: 440px;
    right: -80px;
    margin-right: -90px;
}

#material .floating-buble img{transform: rotate(0deg);}

@media (min-width: 769px) and (max-width: 1200px){#material{height: 640px;}}
@media (max-width: 428px){
    #v{height: 900px;}

        #material .floating-buble{width: 300px;}
        #material .hl-box .wrapper .content-box{width: 100%;}
        #material .hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
        #stmaterialory .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
        #material .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #material{height: 680px;}
    #material .hl-box .wrapper .content-box .content{margin: 0;}
    #material .hl-box .wrapper .image-box{padding: 0;}
} 

/* ========END material=========== */


/* ========START chính sách=========== */


#policy {height: fit-content;}
#policy .h1-box{  
    width: 100%;
    position: absolute;
}
#policy .hl-box .wrapper{
    width: 88%;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}


#policy .hl-box .wrapper .content-box{width: 60%; float: right; padding-left: 80px;}


#policy .hl-box .wrapper h2{
    padding-bottom: 50px;
    color: var(--primary-color);

}
#policy .hl-box .wrapper  hr{
    width:30%;opacity: 0.5;
    border: 1px solid var(--primary-color);
    margin-left: 20%;
    margin-top: -6.5px; 
    position: relative;

}


#policy .hl-box .wrapper .content-box .content h3{
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 18px;
    color: rgb(51, 51, 51);
}

#policy .hl-box .wrapper .content-box .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#policy .hl-box .wrapper .content-box .content .more{font-size: 1.6rem;}

#policy .hl-box .wrapper .content-box .content .more .iconify{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 1.4rem;
}
a{
    float: right;
}
#policy .hl-box .wrapper .image-box{
    width: 40%;
    float: right;
}

#policy .hl-box .wrapper .image-box img{border-radius: 10px;}
#policy .floating-buble{
    position: absolute;
    top: 550px;
    left: -80px;
    margin-left: -50px;
}

#policy .floating-buble img{transform: rotate(110deg);}


@media (min-width: 769px) and (max-width: 1200px){#policy{height: 640px;}}
@media (max-width: 428px){
    #policy{height: 900px;}

    #policy .floating-buble{width: 300px;}
    #policy .hl-box .wrapper .content-box{width: 100%;}
    #policy.hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
    #policy .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
    #policy .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #policy{height: 680px;}
    #policy .hl-box .wrapper .content-box .content{margin: 0;}
    #policy .hl-box .wrapper .image-box{padding: 0;}
} 

/* end chính sách */
/* certi */

#certi {height: fit-content; padding-top: 100px;}
#certi .h1-box{  
    width: 100%;
    position: absolute;
}
#certi .hl-box .wrapper{
    width: 88%;
    margin: 40px auto;
    position: relative;
    z-index: 1;
}

#certi .hl-box .wrapper h2{
    padding-bottom: 50px;
    color: var(--primary-color);
    text-align: center;

}


#certi .hl-box .wrapper .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}

#certi .hl-box .wrapper .image-box.item {
    width: 50%;
    float: left;
    padding: 0 20px;
}

#certi .wrapper{
    width: 88%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#certi .wrapper .item{
    width: 50%;
    float: left;
    padding: 40px 40px;
    text-align: center;
}

@media (min-width: 769px) and (max-width: 1200px){#certi{height: 100%;}}
@media (max-width: 428px){
    #certi{height: 900px;}

    #certi .floating-buble{width: 300px;}
    #certi .hl-box .wrapper .content-box{width: 100%;}
    #certi.hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
    #certi .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
    #certi .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #certi{height: 100%;}
    #certi .hl-box .wrapper .content-box .content{margin: 0;}
    #certi .hl-box .wrapper .image-box{padding: 0;}
}  

/* ========Founder============ */
 
#founder .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;

    
}
#founder .wrapper h2{
    text-align: center;
    padding-bottom: 50px;

}


#founder .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#founder .wrapper .container .item .person-item .detail .des{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 30px;
    text-align: justify;
}
#founder .wrapper .container .item .person-item .detail .office{
font-weight: normal;
font-size: 20px;
margin-bottom: 5%;

}

#founder .wrapper .container .item .person-item .detail hr{
    width:15%;
    border: 0.5px solid var(--primary-color);
    float: left; margin-right: 2vh; margin-top: 1vh;
}

#founder .wrapper .container .item{
    width: 30%;
    margin: 40px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#founder .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#founder .wrapper .container .item:first-child .person-item, 
#founder .wrapper .container .item:last-child .person-item{background-color: var(--item-5);}

#founder .wrapper .container .item:nth-child(2) .person-item, 
#founder .wrapper .container .item:nth-child(4) .person-item{background-color: var(--item-5);}

#founder .wrapper .container .item:nth-child(3) .person-item, 
#founder .wrapper .container .item:nth-child(5) .person-item{background-color: var(--item-5);}

@media (min-width: 429px) and (max-width: 768px){
    #founder .wrapper .container .item{width: 45%;}
    #founder .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #founder .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #founder .wrapper .container .item{
        width: 100%;
        position: relative;}
} 

/* =======END BEST SELLERS======== */
.person-item{
    width: 100%;
    height: 500px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}



.person-item .thumb{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.person-item .thumb img{height: 100%; object-fit: cover;}
.person-item .detail{
    width: 100%;
    padding: 20px 14px;
}

.person-item .detail .name{margin-bottom: 22px; font-size: 2.5rem; line-height: 2.6rem;}


.person-item .detail .add:hover{transform: scale(1.2);}

