body{
    background-color: var(--background);
}

section{
    width: 100%;
    position: relative;

}

.overlay{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(129, 96, 71, 0.281);
}

/* Banner */
#banners{
    height: 60vh;
    margin: auto;
    overflow: hidden;
    
  }
  
  
  #banners .slide-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
  
  
#banners .slide-wrapper .slider-item{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    transform-origin:center;
    display: none;
}
  
  
  #banners .slide-wrapper .slider-item:first-child{background-image: url(https://i.ibb.co/wd0Ykfw/hero-about-us.jpg); display: block;}
  
  
  #banners .banner-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px var(--black-4);
  }
  
  #banners .banner-text .main-title{
    color: var(--background);
    animation-name: moveInleft;
    animation-duration: 3s;
}
  
  
#banners .banner-text .description{
    text-align: center;
    color: white;
    font-size: 3rem;
    line-height: 2.6rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 3s;
}
  
  @media (max-width: 428px){
    #banners{height: 40vh;}
    #banners .banner-text .main-title{font-size: 48px; line-height: 40px;}
    #banners .banner-text .description{font-size: 1.4rem; line-height: 2rem;}
  }
  
  @media (min-width: 429px) and (max-width: 768px){
    #banners{height: 50vh;}
  }
/* ========END BANNER SESSION========= */
/* ========START HIGHTLIGHT=========== */

#hightlight{
    height: 780px ;
}

#hightlight .hl-box{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 80px;
}

#hightlight .hl-box .wrapper{
    width: 88%;
    margin: 40px auto;
    position: relative;
    z-index: 1;
}

#hightlight .hl-box .wrapper .content-box{width: 60%; float: left;}

#hightlight .hl-box .wrapper .content-box .logo{
    width: 50%;
}
#hightlight .hl-box .wrapper .content-box .logo .image{width: 25%;opacity: 0.5;}
#hightlight .hl-box .wrapper .content-box .logo hr{
    width:75%;opacity: 0.5;
    border: 1px solid var(--primary-color);
    margin-left: 12.5%; margin-top: -6px;
}

#hightlight .hl-box .wrapper .content-box .content{
    padding: 32px 40px 32px 0;
    margin: 40px 0;
}

#hightlight .hl-box .wrapper .content-box .content h3{
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 18px;
    color: var(--primary-color);
}

#hightlight .hl-box .wrapper .content-box .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#hightlight .hl-box .wrapper .content-box .content .more{font-size: 1.6rem;}

#hightlight .hl-box .wrapper .content-box .content .more .iconify{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 1.4rem;
}

#hightlight .hl-box .wrapper .image-box{
    width: 40%;
    float: right;
    padding-left: 80px;
}

#hightlight .hl-box .wrapper .image-box img{border-radius: 10px;}
#hightlight .floating-buble{
    margin-left: -100px;
}

#hightlight .floating-buble img{transform: rotate(90deg);}

@media (min-width: 769px) and (max-width: 1200px){#hightlight{height: 640px;}}
@media (max-width: 428px){
    #hightlight{height: 900px;}
    #hightlight .hl-box .wrapper .content-box{width: 100%;}
    #hightlight .hl-box .wrapper .content-box .content{margin: 0;padding: 32px 0;}
    #hightlight .hl-box .wrapper .content-box .content h3{font-size: 2.8rem;line-height: 3rem;}
    #hightlight .hl-box .wrapper .image-box{padding: 0;
        float: none;
        width: 60%;
        margin: 0 auto;}
}

@media (min-width: 429px) and (max-width: 768px){
    #hightlight{height: 680px;}
    #hightlight .hl-box .wrapper .content-box .content{margin: 0;}
    #hightlight .hl-box .wrapper .image-box{padding: 0;}
}

/* ========END HIGHTLIGHT=========== */

/* ========Story========= */


#story .content{
    width: 88%;
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
}

#story .content .title-box .title{
    color: var(--primary-color);
    margin-bottom: 12vh;
    float: left;
    width: 30%;
  
}
#story .content .title-box hr{
    float: right;
    width:45%;
    border: 0.5px solid var(--primary-color); opacity: 50%;
    margin-top: 40px; margin-right: 45vh;

}


#story .content .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}

#story .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#story .content .content-box{
    width: 65%;
    vertical-align: text-top;
    padding-left: 80px;

}
#story .image-box img{border-radius: 10px;}

/* End story */
/* ========Material========= */


#material .content{
    width: 88%;
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
}

#material .content .title-box .title{
    color: var(--primary-color);
    margin-bottom: 12vh;
    float: right;
  
}
#material .content .title-box hr{
    float: left;
    width:45%;
    border: 0.5px solid var(--primary-color); opacity: 50%;
    margin-top: 40px; margin-left: 45vh;

}


#material .content .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}

#material .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#material .content .content-box{
    width: 65%;
    vertical-align: text-top;
    padding-right: 80px;

}
/* icon */

#material  .content .content-box .icon{
    padding-left: 17vh;
}
#material  .content .content-box .icon .item{
    width: 16%; 
    float: left;
    margin-top: 5vh;
    }
    
    #material .content .content-box .icon hr{
        width:60%;
        border: 0.5px solid var(--primary-color);
        margin-left: 2.5vh; margin-top: 50px;
    }
    
    
    #material .content .content-box .icon .item .description{
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-align: center;
    }
    /* end icon */

#material .image-box img{border-radius: 10px;}


/* ========Story========= */


#policy .content{
    width: 88%;
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
}

#policy .content .title-box .title{
    color: var(--primary-color);
    margin-bottom: 12vh;
    float: left;
    width: 30%;
  
}
#policy .content .title-box hr{
    float: right;
    width:45%;
    border: 0.5px solid var(--primary-color); opacity: 50%;
    margin-top: 40px; margin-right: 45vh;

}


#policy .content .name{
    font-size: 4.2rem;
    margin-bottom: 40px;
}

#policy .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#policy .content .content-box{
    width: 65%;
    vertical-align: text-top;
    padding-left: 80px;

}

#policy .content .content-box .text .more{font-size: 1.6rem;}

#policy .content .content-box .text .more .iconify{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 1.4rem;
}
#policy .image-box img{border-radius: 10px;}

/* End story */


/* certi */
#certi{
   padding-bottom: 60px;
}
#certi .content{
    width: 80%;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;

}
#certi .content.title{
    color: var(--primary-color);
    padding-bottom: 60px;

    text-align: center;
}
#certi .content .description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 20px 0;
    text-align: justify;
}
#certi .image-box img{width: 70%;
    justify-content: space-between;}

/* ========Founder============ */
 
#founder .wrapper{
    width: 84%;
    height: fit-content;
  
    margin: 0 auto;
 

    
}
#founder .wrapper h2{
    text-align: center;
    padding-bottom: 30px;

}


#founder .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#founder .wrapper .container .item .person-item .detail .des{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 30px;
    text-align: justify;
}
#founder .wrapper .container .item .person-item .detail .office{
font-weight: normal;
font-size: 20px;
margin-bottom: 5%;

}

#founder .wrapper .container .item .person-item .detail hr{
    width:15%;
    border: 0.5px solid var(--primary-color);
    float: left; margin-right: 2vh; margin-top: 1vh;
}

#founder .wrapper .container .item{
    width: 30%;
    margin: 40px 0;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
  
}

#founder .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#founder .wrapper .container .item .person-item{
    background-color: var(--item-5);
    box-shadow: 0px 4px 5px rgb(221, 205, 205);
}

@media (min-width: 429px) and (max-width: 768px){
    #founder .wrapper .container .item{width: 45%;}
    #founder .wrapper .container{margin: 40px 0;}
}

@media (max-width: 428px){
    #founder .wrapper .container{display: block;position: relative;margin-top: 16px;}
    #founder .wrapper .container .item{
        width: 100%;
        position: relative;}
} 

/* =======END BEST SELLERS======== */
.person-item{
    width: 100%;
    height: 500px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}



.person-item .thumb{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.person-item .thumb img{height: 100%; object-fit: cover;}
.person-item .detail{
    width: 100%;
    padding: 20px 14px;
}

.person-item .detail .name{margin-bottom: 22px; font-size: 2.5rem; line-height: 2.6rem;}


.person-item .detail .add:hover{transform: scale(1.2);}


/* founder1 */

#founder-1 .wrapper{
    width: 84%;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
  
 
    
}
#founder-1 .wrapper h2{
    text-align: center;
    padding-bottom: 50px;

}


#founder-1 .wrapper .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;

}
#founder-1 .wrapper .container .item .person-item .detail .des{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 30px;
    text-align: justify;
}
#founder-1 .wrapper .container .item .person-item .detail .office{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 5%;

}

#founder-1 .wrapper .container .item .person-item .detail hr{
    width:15%;
    border: 0.5px solid var(--primary-color);
    float: left; margin-right: 2vh; margin-top: 1vh;
}

#founder-1 .wrapper .item{
    width: 30%;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease;
    
 

}

#founder-1 .wrapper .container .item:hover{
    transform: translateY(-3px);
}

#founder-1 .wrapper .container .item .person-item{
    background-color: var(--item-5);
    box-shadow: 0px 4px 5px rgb(221, 205, 205);
}
